sudo: required
services:
        - docker


before_install:
        - docker build -t mohitm/docker-react -f Dockerfile.dev .

script:
        - docker run mohitm/docker-react npm run test -- --coverage

deploy:
        provider: elasticbeanstalk
        region: "ap-south-1"
        app: "docker-react"
        env: "DockerReact-env"
        bucket_name: "elasticbeanstalk-ap-south-1-003283696950"
        bucket_path: "docker-react"
        on:
                branch: master
        access_key_id: "$AWS_ACCESS_KEY"
        secret_access_key: 
                secure: "$AWS_SECRET_KEY"
